@model YoMateProjectShare.Controllers.PaginatedList<YoMateProjectShare.Models.Projects>
@{
    ViewBag.Title = "MyProject";
}
<h2>this is project index page</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div style="position:absolute;width:60%;left:20%;text-align:center;text-anchor:middle;">

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Project ID
                    </th>
                    <th scope="col">
                        <a asp-action="MyProject" asp-route-sortOrder="@ViewData["NameSortParm"]">Article Name</a>
                    </th>
                    <th>
                        <a asp-action="MyProject" asp-route-sortOrder="@ViewData["DateSortParm"]">Upload Time</a>
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- for loop creating -->
                @foreach (var item in Model)
                {

                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.Id)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArticleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UploadTime)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="MyProject"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="MyProject"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>